{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-object-assign",
    "es6-promise",
    [ "transform-react-jsx", { "pragma": "h" } ]
  ]
}